.schema {
    padding: 46px 0 51px;
    background-color: #f3f3f3;

    &__items {
        margin-top: 33px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        width: 255px;
        min-height: 120px;
        margin-right: 40px;
        margin-bottom: 23px;

        &:nth-child(4),
        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        display: flex;
        width: 55px;
        height: 60px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

    }

    &__title {
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $main-color;
        text-align: center;
    }

    &__text {
        margin-top: 8px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        color: #3a3a3a;
        text-align: center;
    }
}