@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding: 10px;
    }

    .header {
        &__logo {
            margin-right: 40px;
        }

        &__info {
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &__contacts {
            margin-right: 0;
        }

        &__btn {
            margin-top: 10px;
        }

        .nav {
            margin-right: 40px;
        }
    }

    .promo {
        &__items {
            grid-template: 1fr / repeat(4, 220px);
        }
    }

    .advantages {
        &__blocks {
            grid-template-columns: repeat(2, 450px);
            gap: 27px 0px;
            justify-content: space-between;
        }
    }

    .work {
        &__items {
            grid-template: 1fr / repeat(3, 300px);
        }
    }

    .prices {
        &__items {
            width: 220px;
        }
    }

    .form {
        width: 890px;

        &__icon {

            &:before,
            &:after {
                width: 380px;
            }
        }

        &__btn {

            &:before,
            &:after {
                width: 343px;
            }
        }
    }

    .schema {
        &__item {
            margin: 0 20px 23px;


            &:nth-child(4),
            &:last-child {
                margin-right: 20px;
            }
        }
    }

    .footer {
        .header {
            &__title {
                margin-right: 80px;
            }

            &__contacts {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .header {
        flex-direction: column;

        &__logo {
            margin-right: 0;

            img {
                width: 70px;
            }
        }

        .nav {
            margin: 15px 0 0 0;

            &__menu {
                width: 550px;
            }

            &__link {
                padding-right: 7px;
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__info {
            margin-top: 15px;
            align-items: center;
        }

        &__contacts {
            margin-right: 70px;

            span {
                display: none;
            }
        }

        &__phone {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
        }

        &__btn {
            margin-top: 0px;
            height: 37px;
            width: 150px;
        }
    }

    .promo {
        padding: 24px 0 50px 0;

        &__title {
            font-size: 20px;
        }

        &__subtitle {
            font-size: 55px;
            line-height: 55px;
        }

        &__descr {
            font-size: 28px;
            line-height: 28px;
        }

        &__items {
            grid-template: repeat(2, minmax(110px, auto)) / repeat(2, auto);
            grid-auto-rows: auto;
            justify-content: center;
            gap: 30px 30px;
        }

        &__wrapper {
            margin-top: 35px;
        }
    }

    .circle {
        &:before {
            width: 320px;
        }

        &:after {
            width: 320px;
        }
    }

    .advantages {
        &__blocks {
            grid-template-columns: repeat(2, 345px);
            ;
        }
    }

    .work {
        &__items {
            grid-template: 1fr / repeat(3, 225px);
        }
    }

    .prices {
        &__wrapper {
            margin-top: 0;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &__items {
            margin-top: 25px;
            width: 267px;
        }
    }

    .form {
        width: 700px;
        padding: 0 20px;

        &__icon {

            &:before,
            &:after {
                width: 285px;
            }
        }

        .input {
            max-width: 100%;
        }

        &__btn {

            &:before,
            &:after {
                width: 248px;
            }
        }
    }

    .schema {
        &__item {
            margin: 0 30px 23px;


            &:nth-child(4),
            &:last-child {
                margin-right: 30px;
            }
        }
    }

    #btn-prev {
        left: 37%;
    }

    #btn-next {
        right: 37%;
    }

    .questions {
        &__header {
            width: 700px;
        }

        .input-flex {
            display: flex;
            width: 100%;
        }

        &__textarea {
            width: 660px;
        }
    }

    .footer {

        .header {
            flex-direction: row;
            justify-content: space-between;

            &__logo {
                margin-right: 0;
            }

            &__title {
                margin-right: 0;
                font-size: 14px;
            }

            &__info {
                flex-direction: column;
                align-items: flex-end;
            }

            &__contacts {
                margin-right: 0;
            }
        }

        &__info {
            .policy {
                margin-right: 0;
            }
        }
    }


}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .header {
        .nav {
            &__menu {
                width: 515px;
            }
        }
    }

    .promo {
        padding: 24px 0 30px;

        &__title {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 41px;
            line-height: 41px;
        }

        &__descr {
            font-size: 21px;
            line-height: 21px;
        }
    }

    .title {
        font-size: 21px;
    }

    .subtitle {
        font-size: 16px;
    }

    .circle {
        &:before {
            width: 240px;
        }

        &:after {
            width: 240px;
        }
    }

    .advantages {
        padding: 30px 0;

        &__blocks {
            grid-template-columns: 1fr;
        }
    }

    .work {
        padding: 30px 0;

        &__items {
            grid-template: 1fr / 1fr;
            grid-auto-rows: auto;
            row-gap: 40px;

            .item-work {
                row-gap: 10px;
            }
        }
    }

    .info {
        padding: 30px 0;
    }

    .prices {
        padding: 30px 0 40px;

        &__items {
            width: 290px;
        }

        &__subtitle {
            font-size: 22px;
        }
    }

    .form {
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        min-height: 270px;
        padding: 60px 0 45px;

        &__icon {

            &:before,
            &:after {
                width: 195px;
            }
        }

        &__btn {

            &:before,
            &:after {
                width: 157px;
            }
        }
    }

    .schema {
        padding: 30px 0;

        &__item {
            max-width: 225px;
            margin: 0 15px 15px;

            &:nth-child(4),
            &:last-child {
                margin-right: 20px;
            }
        }
    }

    .reviews {
        padding: 30px 0;

        &__slide {
            width: 500px;
        }
    }

    #btn-prev {
        left: 33%;
    }

    #btn-next {
        right: 33%;
    }

    .questions {
        &__header {
            width: 100%;
        }

        .input-flex {
            .input {
                width: 100%;
                padding: 16px 10px;
            }
        }

        &__form {
            padding: 35px 5px 35px;
            min-height: 220px;
        }

        &__textarea {
            width: 100%;
            padding: 10px 10px;
        }
    }

    .map {
        &__info {
            padding: 12px 28px;
            width: 220px;
            top: 35%;
            left: 58%;
        }
    }

    .footer {
        padding: 20px 0;

        .header {
            flex-direction: column;
            margin-bottom: 15px;

            &__btn {
                margin-top: 4px;
            }

            &__contacts {
                justify-content: center;
            }

            &__info {
                margin-top: 8px;
                align-items: center;
            }
        }

        &__info {
            padding-top: 10px;
        }
    }

}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .header {
        flex-direction: row;
        justify-content: space-around;

        &__logo {
            img {
                width: 50px;
            }
        }

        .nav {
            margin: 0;

            &__menu {
                padding: 20px;
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 70%;
                height: 100vh;
                left: -100%;
                top: 0;
                background: rgba(0, 0, 0, 0.8);
                transition: all 1s;
                z-index: 5;

                &_active {
                    left: 0;
                }
            }

            &__link {
                margin: 10px 0;
                padding-right: 0;
                font-size: 25px;
                line-height: 50px;
                border: none;
            }
        }

        &__info {
            flex-direction: column;
            align-items: flex-end;
            margin: 0;
        }

        &__contacts {
            margin: 0;
        }

        &__btn {
            margin-top: 5px;
            height: 31px;
            width: 140px;
        }
    }

    .promo {
        padding-top: 40px;

        .hamburger {
            display: block;
        }

        &__title {
            font-size: 11px;
        }

        &__subtitle {
            font-size: 34px;
            line-height: 34px;
        }

        &__descr {
            font-size: 15px;
            line-height: 15px;
        }

        &__items {
            margin-top: 15px;
            grid-template: repeat(4, minmax(110px, auto)) / 300px;
            row-gap: 8px;
        }
    }

    .title {
        font-size: 18px;
    }

    .subtitle {
        font-size: 15px;
    }

    .circle {
        margin-top: 15px;

        &:before {
            width: 120px;
        }

        &:after {
            width: 120px;
        }
    }

    .advantages {
        &__blocks {
            .item {
                grid-template: minmax(62px, auto) minmax(22px, auto) minmax(35px, auto) / 1fr;
                text-align: center;
                row-gap: 7px;

                &__icon {
                    grid-row: unset;
                }
            }
        }
    }

    .agent {
        padding: 30px 0;
    }

    .prices {
        &__items {
            margin-top: 20px;
        }

        &__subtitle {
            margin-top: 25px;
            font-size: 20px;
        }
    }

    .form {

        width: 290px;
        min-height: 270px;
        padding: 60px 0 45px;


        &__icon {

            &:before,
            &:after {
                width: 80px;
            }
        }

        &__btn {

            &:before,
            &:after {
                width: 43px;
            }
        }
    }

    .schema {
        &__items {
            margin-top: 20px;
        }

        &__item {
            max-width: 100%;
            margin: 0 0 15px;
            width: 100%;

            &:nth-child(4),
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .divider {
        margin: 10px auto;
    }

    .reviews {
        .flex-wrapper {
            margin-top: 20px;
        }

        &__slide {
            width: 100%;
        }
    }

    #btn-prev {
        left: 20%;
    }

    #btn-next {
        right: 20%;
    }

    .questions {
        padding: 40px 0;

        &__header {
            height: 57px;
            padding: 13px 0
        }

        &__title {
            font-size: 17px;
        }

        &__subtitle {
            font-size: 13px;
        }

        .input-flex {
            flex-direction: column;

            .input {
                width: 100%;
                padding: 16px 10px;
                margin: 6px 0 0;
                border-radius: 10px;

            }
        }

        &__form {
            padding: 15px 5px;
            min-height: 220px;
            width: 100%;
            height: 100%;
        }

    }

    .map {
        &__info {
            display: none;
        }
    }

    .footer {
        .header {
            &__title {
                display: none;
            }
        }

        &__info {
            flex-direction: column;
        }
    }

}