.title {
    font-size: 26px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    text-align: center;
    &_white {
        color: #ffffff;
        text-transform: unset;
    }
}

.subtitle {
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: #2e2e2e;
    text-align: center;
    &_white {
        font-size: 19px;
        line-height: 27px;
        color: #ffffff;
    }
}